:root{
  --main-color: rgb(102, 25, 173);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--main-color);
  color: white;
}

.formulario {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 24px;
  padding: 56px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  border: 2px solid white;
}

.form__label {
  margin-top: 16px;
  margin-bottom: 8px;
}

.form__input {
  border-radius: 8px;
  height: 24px;
  border: none;

}

.form__textarea {
  height: 80px;
  width: 100%;
  border-radius: 8px;
  border: none;
}

.contenedorTareas {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__btn {
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
  border: 2px solid white;
  background-color: rgb(25, 173, 102);
  color: white;
}