@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf");
}

:root {
  --main-color: rgb(66, 25, 105);
  --secondary-color: rgb(25, 173, 102);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

.App {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  background-color: var(--main-color);
  color: white;
}

/* Formulario */
.formulario {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 64px;
}

.formulario__h1 {
  margin-top: 16px;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 24px;
  padding: 56px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 16px;
  border: 2px solid white;
}

.form__label {
  margin-top: 16px;
  margin-bottom: 8px;
}

.form__input {
  border-radius: 8px;
  height: 24px;
  border: none;
  padding: 8px;
  background-color: #efe7ff;
  /* Fondo suave al enfocar */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  /* Quitamos el outline por defecto */
}

.form__textarea {
  height: 80px;
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 8px;
  background-color: #efe7ff;
  /* Fondo suave al enfocar */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  /* Quitamos el outline por defecto */
}

.form__textarea:focus {
  border-color: #6619ad;
  /* Morado vibrante */
  box-shadow: 0 0 8px rgba(102, 25, 173, 0.6);
  background-color: #fdfcff;
  /* Fondo suave al enfocar */
}

.form__input:focus {
  border-color: #6619ad;
  /* Morado vibrante */
  box-shadow: 0 0 8px rgba(102, 25, 173, 0.6);
  background-color: #fdfcff;
  /* Fondo suave al enfocar */
}

.form__btn {
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
  border: 2px solid white;
  background-color: var(--secondary-color);
  color: white;
}

.form__btn:hover {
  box-shadow: 0 0 8px var(--secondary-color);
  background-color: rgb(29, 187, 111);
}

/* Contenedor Tareas */
.listaTareas {
  width: 70%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 2fr 2fr;
  margin-top: 64px;
}

.listaTareas__h2 {
  font-size: 2em;
  grid-column: 1 / 4;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
}



/* Tarea */
.tarea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 24px;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 16px;
  border: 2px solid white;
  max-width: 100%;
  overflow: hidden;
}

.tarea__btnContainer {
  height: 10%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: center;
}

.tarea__btn {
  margin: 2px;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 4px;
}

.tarea__btn:hover {
  border: 2px solid white;
  cursor: pointer;
}

.tarea__btn:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.tarea__contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px 16px 16px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 16px;
  border: 2px solid white;
  max-width: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Formulario de edición */
.formEditor{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  padding: 32px;
  height: 100vh;
}
.formEditor__form {
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
  .App {
    flex-direction: column;
  }

  .formulario {
    width: 100%;
    margin-top: 32px;
  }

  .listaTareas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
  }
}